Kalitte.BI.Shared/Service References/ParametersService/parameters3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemParameterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecisionSupportBrowserWinUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortalUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemParameterInfo" nillable="true" type="tns:SystemParameterInfo" />
</xs:schema>