Kalitte.BI.Shared/Service References/AnalyticsService/analitics63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleInfo" nillable="true" type="tns:ModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleInfo" nillable="true" type="tns:ArrayOfModuleInfo" />
  <xs:complexType name="ModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivatorInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ImageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleInfo" nillable="true" type="tns:ModuleInfo" />
  <xs:complexType name="ArrayOfDashboardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardInfo" nillable="true" type="tns:DashboardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardInfo" nillable="true" type="tns:ArrayOfDashboardInfo" />
  <xs:complexType name="DashboardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardInfo" nillable="true" type="tns:DashboardInfo" />
</xs:schema>