Kalitte.BI.Shared/Service References/AnalyticsService/analitics64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://berkay.kalitte.local/Kalitte.RiskManagement/analitics.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" />
  <xs:import schemaLocation="http://berkay.kalitte.local/Kalitte.RiskManagement/analitics.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kalitte.BI.Shared" />
  <xs:element name="GetModules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" minOccurs="0" name="GetModulesResult" nillable="true" type="q1:ArrayOfModuleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDataAsArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDataAsArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModuleDataAsArrayResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModuleDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUsernamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUsernamePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDashboards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDashboardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kalitte.BI.ServerPlatform.Entities" minOccurs="0" name="GetUserDashboardsResult" nillable="true" type="q2:ArrayOfDashboardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kalitte.BI.Shared" minOccurs="0" name="filter" nillable="true" type="q3:FilterSelectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFilterDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="reportElement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saveAsTemplate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportElement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kalitte.BI.Shared" minOccurs="0" name="GetUserReportsResult" nillable="true" type="q4:ArrayOfUserReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportDataByIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportDataByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>